.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#LOGO {
  width: 100px;
  height: auto;
  display: block;

  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2.75cm;
  margin-right: 1.75cm;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  color: white;
  text-align: center;
  background-color: #13051e;
  font-family: cursive;
}

.button {
  border: solid white;
  color: white;
  margin-top: 130px;
  position: absolute;
  right: 45px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  font-family: cursive;
  background-color: #13051e;
}
